.body {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway';
}

p, h1, h2, h3, h4, h5{
    font-family: 'Raleway';
}

.sombra{
    border-radius: 20px;
    box-shadow: 13px 12px 2px -1px rgba(250,250,250,0.31);

}
.borda{
  border: 0px outset rgba(28,110,164,0.9);
  border-radius: 20px;  
  background-color:rgb(245, 241, 241);
  width: 100%;
  padding: 20px;
  align-items : center;
  font-size: 10px;
  margin-bottom: 20px;
}

#work-process-item-01 {
display: block;
margin-left: auto;
margin-right: auto 
}

#right-image {
    display: block;
    margin-left: auto;
    margin-right: auto     
}

#left-image {
    display: block;
    margin-left: auto;
    margin-right: auto     
}

#banner {
    padding-right: 250px;
    padding-left: 250px;
    padding-top: 10px;
    color: white;
   
}



#discovermore {
    color: white;
    background-color: rgb(243, 86, 165);
    text-align: center;
    display: inline-block;
    margin-top: 10px;
}



.navbar-brand {
    padding-right: 100px;
    size: 100px;
}

#homebtn {
    color: rgb(248, 44, 221);
}

.navbar-nav {
    border-radius: 50px;
    margin-top: 5px;
}

.nav-item {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 18px;
    color: black;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

#logo{
    padding-left: 10%;
}

.nav-link {
    color: black;
}

#navbartam {
    border-radius: 50px;
    padding: 5px;
    margin-top: 0px;
}

.titulo {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 20%;
    margin-left: 20%;
    align-content: center;
}



.borderWhat1 {
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    border-radius: 30px;
    position: relative;
    margin-bottom:30px;
    padding-bottom: 35px;
    background-color: white;
    text-align: center;
    margin-top: 05px;
    padding-top: 5px;
    color: black;

}


.circle{
    background-color: #8A2BE2;
    border-radius: 50%;
    padding: 5%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 3%;
    margin-bottom: 5%;
    
}

.textp {
    color: rgb(117, 115, 115);
    display: block;
    margin-left: auto;
    margin-right: auto;
        
}
.textcenterp{
    text-align: center;
    color: rgb(117, 115, 115);
    font-size: 12pt;
}

.bonecos {
    margin: 100px;
}

#CBE1 {
    padding-right: 250px;
    padding-left: 250px;
    padding-top: 120px;
    padding-bottom: 110px;
    color: white;
}

#blog-entries {
    padding-top: 100px;
    padding-bottom: 50px;

}

.btn-read-more {
    background: rgb(133, 108, 247);
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: normal;
    padding: 14px;
    box-sizing: initial;
    text-transform: uppercase;
    border-radius: 24px;
    border-style: none;
    color: white;
}


#grey-color {
    color: grey;
}

#BE .card {
    border: none;
    padding: 20px;
} 

#BE {
    padding-right: 100px;
    padding-left: 100px;
}

.buttonBE {
    
    text-align: center;
}

.TTU {
    background-color: rgb(239, 239, 253);
}

.INF p {
    font-size: small;
    text-align: left;
}

.KIT p {
    font-size: 15px;
}

.INF2 {
    background-color:white;
    padding-left: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.INF3 {
    background-color:white;
    padding-left: 15px;
    margin-bottom: 15px;
}

.INF4 {
        background-color: white;
        padding-left: 15px;
        
}
#YM {
    padding-top: 21px;
    padding-bottom: 110px;
}

input[type=text]{   
    border-radius:25px;
}

#INFBT {
    text-align:left;
    padding-left: 0px;
}

.ícones {
    
    text-align: center;
    font-size: 15px;
    color:rgb(133, 108, 247);
    border-radius: 50%;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.ícones i {
    background-color: white;
    color: rgb(133, 108, 247);
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 18px;
    padding-left: 18px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.button-footer {
    background-color: transparent;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    min-width: initial;
}

#linkedin-icon {
    padding-right: 19px;
    padding-left: 19px;
    border-radius: 50%;
}

#Footer {
    padding-top: 30px;
    padding-bottom: 5px;
    background-color:rgb(133, 108, 247);
    text-align: center;
}

#Footer p {
    color: white;
    text-align: center;
}

.titleWhat {
    text-align:center;
}

.textWhat {
    text-align:center;
}

.borderWhat {
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    border-radius: 30px;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 25px;
    background-color: #ffffff;
    text-align: left;
    margin-top: 05px;
    padding-top: 20px;
    padding-left: 20px;

}
.marginWhat {
    padding-top: 20px;
}
.What {
    padding-top: 80px;
    padding-bottom: 80px;
}
.imageWhat {
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.personWhat {
    padding-top: 35px;
}
.textOffice {
    color: #ff589e;
}


.circle1{
        display: block;
        background: silver;
        border-radius: 50%;
        height: 60px;
        width: 60px;
        margin: 20%;
  
}

.bgPricing {
    background-color:rgb(242, 236, 250);
    padding-top: 80px;
    padding-bottom: 80px;
    
}

.titlePricing {
    text-align: center;
  }
.textPricing {
        text-align: center;
        margin-top: 15px;
        padding-top: 10px;
}
.borderPricing {
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    position: relative;
    padding-bottom: 5%;
    background-color: #ffffff;
    text-align: center;
    padding-top: 1%;
    margin: 1%;
}

.row1{
    margin-left: 9%;
    margin-right: 9%;
}

.marginPurchase {
    margin-top: 50px;
}
.buttonColor {
   background-color: #8A2BE2;
   border-radius: 20px;
   height: 14px;
    padding: 12px;
}
.margintitlePresing {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-price  {
    display: block;
    background-color:  #8A2BE2;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    border-radius: 25px;
    color: white;
    padding-right: 95px;
    padding-left: 95px;
    text-align: center;
    border-style: none;

}

.btn-pricePink {
    background-color:  #ff589e;
}


#copyright {
    font-size: small;
    padding: 10px;
}

#footer-bar {
    color: rgb(255, 255, 255);
    font-size: xx-small;
    text-align: center;
}


